* {
	font-family: monospace;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: #dddddd;
}

header, main, footer {
	margin: auto;
	width: 80%;
	max-width: 960px;
}

header {
	display: block;
	margin-bottom: 3rem;
	height: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: end;
	background-size: contain;
}

header h1 {
	margin: 0;
	padding: 0;
}

footer {
	display: block;
	margin-top: 3rem;
}