* {
	font-family: MonoLisa;
	box-sizing: border-box;
	line-height: 1.6rem;
}


html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 0.95rem;
}

a:link, a:active, a:visited, a:hover {
	color: limegreen;
	text-decoration: underline;
}


body {
	background-color: black;
	color: #dddddd;

  list-style: none;

  display: flex;
    flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: stretch;
  align-items: stretch;
}

header, main, footer
{
	text-align: left;
	width: 80%;
	padding: 2rem;
	margin: auto;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: end;
	flex-grow: 1;
}

header h1 {
	margin: 0;
	padding: 0;
    font-weight: normal;
}

main {
	flex-grow: 2;

}

main h2 { margin-top: 0; 
	font-weight: normal;  }

footer {
	flex-grow: 1;
	display: block;
}

/*
.corner-img {
	height: 10rem;
	width: 10rem;
	position: absolute;
	z-index: -1;
	filter: invert(100%);
}

#corner-1 {
	top: 0;
	left: 0;
	transform: scale(1, 1);
}

#corner-2
{
	top: 0;
	right: 0;
	transform: scale(-1,1);
}

#corner-3
{
	bottom: 0;
	left: 0;
	transform: scale(1, -1);
}

#corner-4
{
	bottom: 0;
	right: 0;
	transform: scale(-1, -1);
}

*/


